*{
    box-sizing: border-box;
    font-family: monospace;
}
.span-2{
    grid-column:span 2;
}
.span-3{
    grid-column:span 3;
}
.container{
    max-width: 360px;
    margin: 60px auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.number-input{
    width: 100%;
    padding: 40px 10px;
    background-color:black ;
    color: white;
    font-size: 32px;
    text-align: end;
}
.button-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.button{
    color: black;
    padding: 30px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid black;
    font-weight: bold;
    font-size: 22px;
    /* border: none; */
}
.button:hover{
    cursor: pointer;
    background-color: white;
}
.orange{
    background-color: orange;
}